
@font-face {
    font-family: 'Muller';
    src: local('Muller-Light-Italic'),
      url('../font/MullerLightItalic.woff2') format('woff2'),
      url('../font/MullerLightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Bold'),
    url('../font/MullerBold.woff2') format('woff2'),
    url('../font/MullerBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Medium'),
    url('../font/MullerMedium.woff2') format('woff2'),
    url('../font/MullerMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular'),
        url('../font/MullerRegular.woff2') format('woff2'),
        url('../font/MullerRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Muller';
    src: local('Muller-Regular-Italic'),
        url('../font/MullerRegularItalic.woff2') format('woff2'),
        url('../font/MullerRegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Muller',Arial, Verdana, sans-serif;
}

:root {
    --color-dark-grey: #121723;
    --color-dark-blue: #292E39;
    --color-grey-dark: #A1A6B4;
    --color-grey: #D2D5DD;
    --color-grey-light: #E6E8EC;
    --color-ohra: #BB973E;
    --color-photanopia: #F0D288;
    --color-blue: #0039A6;
    --color-red: #D52B1E;
    --color-purple-dark: #4F28A5;
    --color-purple: #6D31EE;
    --color-purple-light: #AA9DFA;
    --color-white-dark: #F5F6F7;
    --color-white: #fff;
}

a {
    text-decoration: inherit;
    border: none;
    background-color: transparent;
}

.list-reset {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.btn-reset {
    border: none;
    background-color: inherit;
    overflow: hidden;
    padding: 0;
    cursor: pointer;
}

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 100px;
}

/* Header */
.header__container {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    align-items: center;
}

.header__logo {
    display: flex;
}

.header__search {
    order: 3;
    display: flex;
    align-items: center;
}

.header__search svg path {
    stroke: var(--color-purple);
    transition: stroke .3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;
}

.header__search:hover svg path {
    stroke: var(--color-purple-light);
    transition: stroke .3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;
}

.header__search:focus svg path {
    stroke: var(--color-purple-light);
    transition: stroke .3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;
}

.header__search:active svg path  {
    stroke: var(--color-purple-dark);
    transition: stroke .3s cubic-bezier(0.1, 0.8, 0.5, 2), color 3s 1s linear;
}

.header__nav-ul {
    display: flex;
    margin-left: -129px;
}

.header__nav-ul-item:not(:last-child) {
    margin-right: 58.75px;
}

.header__nav-ul-item-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-dark-grey);
    transition: color .5s ease-in-out;
}

.header__nav-ul-item-text:hover {
    color: var(--color-purple);
    transition: color .5s ease-in-out;
}

.header__nav-ul-item-text:focus {
    background-color: var(--color-purple-light);
    outline: 1px solid var(--color-purple-light);
    outline-width: 10px;
    border-radius: 5px;
    color: var(--color-white);
    transition: color, background-color, outline .5s ease-in-out;
}

.header__nav-ul-item-text:active {
    color: var(--color-purple-dark);
    outline: none;
    background-color: transparent;
    transition: color .5s ease-in-out;
}

/* Hero */
.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__left {
    max-width: 635px;
    padding: 94px 0;
    margin-right: 30px;
}

.hero__left-title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
    margin-bottom: 14px;
    color: var(--color-dark-grey);
}

.hero__left-descr {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 45px;
    color: var(--color-dark-grey);
}

.hero__left-btn {
    padding: 25px 54px;
    background-color: var(--color-purple);
    color: var(--color-white);
    border-radius: 40px;
    font-size: 20px;
    line-height: 23px; 
    transition: background-color .5s ease-in-out;
}

.hero__left-btn:hover {
    background-color: var(--color-purple-light);
    transition: background-color .5s ease-in-out;
}

.hero__left-btn:focus {
    padding: 24px 53px;
    border: var(--color-purple-dark) 1px solid;
    background-color: #AA9DFA;
    transition: border .5s ease-in-out;
}

.hero__left-btn:active {
    background-color: var(--color-purple-dark);
    transition: background-color .5s ease-in-out;
}

.hero__right {
    display: flex;
    align-items: center;
}


/* Podcasts */
.podcasts {
    background-color: var(--color-grey-light);
    padding: 94px 0;
}

.podcasts__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 30px;
    color: var(--color-dark-grey);
}

.podcasts__ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.podcasts__ul-item {
    display: flex;
    background-color: var(--color-white);
    max-width: 540px;
    width: calc(50% - 15px);
    margin-bottom: 30px;
    flex-basis: calc(50% - 15px);
}

.podcasts__ul-item:nth-child(1), .podcasts__ul-item:nth-child(3), .podcasts__ul-item:nth-child(5), .podcasts__ul-item:nth-child(7) {
    margin-right: 30px;
}

.podcasts__ul-item:nth-child(8) {
    margin-bottom: 0;
}

.podcasts__ul-item:nth-child(7) {
    margin-bottom: 0;
}

.podcasts-item-1 {
    background-image: url(../img/podcasts_1.png);
}

.podcasts-item-2 {
    background-image: url(../img/podcasts_2.png);
}

.podcasts-item-3 {
    background-image: url(../img/podcasts_3.png);
}

.podcasts-item-4 {
    background-image: url(../img/podcasts_4.png);
}

.podcasts-item-5 {
    background-image: url(../img/podcasts_5.png);
}

.podcasts-item-6 {
    background-image: url(../img/podcasts_6.png);
}

.podcasts-item-7 {
    background-image: url(../img/podcasts_7.png);
}

.podcasts-item-8 {
    background-image: url(../img/podcasts_8.png);
}

.podcasts__ul-item-left {
    max-width: 112px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.podcasts__ul-item-left-date {
    padding: 3px 8.5px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    background-color: var(--color-grey-light);
    color: var(--color-dark-grey);
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
}

.podcasts__ul-item-right {
    padding: 40px 10px 40px 30px;
    max-width: 250px;
    width: 100%;
}

.podcasts__ul-item-right-time {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 8px;
    color: var(--color-dark-grey);
}

.podcasts__ul-item-right-title {
    margin: 0;
    padding: 0;
    margin-bottom: 4px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-dark-grey);
}

.podcasts__ul-item-right-descr  {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-grey-dark);
}

/* Broadcasts */
.broadcasts {
    padding-top: 94px;
    padding-bottom: 92px;
}

.broadcasts__container {
    display: flex;
    justify-content: space-between;
}

.broadcasts__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 30px;
}

.broadcasts__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: var(--color-dark-grey);  
}

.broadcasts__btm {
    display: none;
}

.broadcasts__left-btm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.broadcasts__left-btm-mic {
    margin-bottom: 24px;
    max-width: 65px;
}

.broadcasts__left-btm-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-dark-grey);
    padding: 10px 53px;
    border: 2px solid var(--color-dark-grey);
    border-radius: 77px;
    max-width: 160px;
    margin-bottom: 17px;
}

.broadcasts__left-btm-descr {
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    width: 255px;
}

.broadcasts__right-ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 11px;
    width: 100%;
}

.broadcasts__right-ul-item {
    margin-right: 30px;
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: calc(100%/3 - 20px);
}

.broadcasts__right-ul-item:nth-child(3n) {
    margin-right: 0;
}

.broadcasts__right-ul-item:nth-child(4), .broadcasts__right-ul-item:nth-child(6), .broadcasts__right-ul-item:nth-child(5) {
    margin-bottom: 0;
}

.broadcasts__right-ul-item-card {
    padding: 20px 16px;
    border: 1px solid var(--color-grey-light);
    border-top: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.broadcasts__right-ul-item-img {
    object-fit: cover;
    display: block;
    width: 100%;
}

.broadcasts__right-ul-item-card-title {
    margin: 0;
    padding: 0;
    color: var(--color-dark-grey);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 4px;
}

.broadcasts__right-ul-item-card-descr {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}

.broadcasts__right-ul-item-card-text {
    margin-bottom: 20px;
}

.broadcasts__right-ul-item-card-btn {
    color: var(--color-dark-grey);
    display: flex;
    align-items: center;
    transition: color .5s ease-in-out;
}

.broadcasts__right-ul-item-card-btn .broadcasts__right-ul-item-card-btn-svg path {
    fill: #121723;
    transition: fill .5s ease-in-out;
}

.broadcasts__right-ul-item-card-btn:hover {
    color: var(--color-purple);
    transition: color .5s ease-in-out;
}

.broadcasts__right-ul-item-card-btn:hover .broadcasts__right-ul-item-card-btn-svg path {
    fill: var(--color-purple);
    transition: fill .5s ease-in-out;
}


.broadcasts__right-ul-item-card-btn:focus {
    color: var(--color-white);
    outline: 1px solid var(--color-purple-light);
    background-color: var(--color-purple-light);    
    transition: color, outline, background-color .5s ease-in-out;
}

.broadcasts__right-ul-item-card-btn:focus .broadcasts__right-ul-item-card-btn-svg path {
    fill: var(--color-white);
    transition: fill .5s ease-in-out;
}

.broadcasts__right-ul-item-card-btn:active {
    color: var(--color-purple-dark);
    transition: color .5s ease-in-out;
}

.broadcasts__right-ul-item-card-btn:active .broadcasts__right-ul-item-card-btn-svg path {
    fill: var(--color-purple-dark);
    transition: fill .5s ease-in-out;
}

/* Guests */

.guests {
    background-color: var(--color-dark-grey);
    padding: 94px 0;
    padding-bottom: 93px;
} 

.guests__title {
    margin: 0;
    padding: 0;
    color: var(--color-white);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 12px;
}

.guests__tl {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-grey-dark);
    margin-bottom: 8px;
}

.guests__descr {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    max-width: 825px;
}

.guests__ul-card:not(:last-child) {
    margin-bottom: 50px;
}

.guests__ul-card {
    display: flex;
    flex-wrap: nowrap;
}

.guests__ul-card-photo {
    margin-right: 30px;
    object-fit: cover;
}

.guests__ul-card-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.guests__ul-card-text-top-title {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    color: var(--color-white);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}

.guests__ul-card-text-top-descr {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    max-width: 458px;
    width: 100%;
}

.guests__ul-card-text-btn {
    color: var(--color-purple-light);
    padding: 9px 18.5px;
    border: 2px solid var(--color-purple-light);
    border-radius: 77px;
    transition: background-color .7s cubic-bezier(0.1, 0.8, 0.5, 2), color .7s 0.2s linear;
}

.guests__ul-card-text-btn:hover {
    color: var(--color-white);
    background-color: var(--color-purple-light);
    padding: 11px 20.5px;
    border: none;
    transition: background-color .7s cubic-bezier(0.1, 0.8, 0.5, 2), color .7s 0.2s linear;
}

.guests__ul-card-text-btn:focus {
    color: var(--color-white);
    background-color: var(--color-purple);
    padding: 11px 20.5px;
    border: none;
    transition: background-color .7s cubic-bezier(0.1, 0.8, 0.5, 2), color .7s 0.2s linear;
}

.guests__ul-card-text-btn:active {
    color: var(--color-white);
    background-color: var(--color-purple-dark);
    padding: 11px 20.5px;
    border: none;   
    transition: background-color .7s cubic-bezier(0.1, 0.8, 0.5, 2), color .7s 0.2s linear;
}

/* Playlist */
.playlist {
    padding-top: 94px;
    padding-bottom: 92px;
}

.playlist__container {
    display: flex;
}

.playlist__text {
    margin-right: 30px;
}

.playlist__text-title {
    margin: 0;
    padding: 0;
    color: var(--color-dark-grey);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    margin-bottom: 12px;
}

.playlist__text-descr {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 350px;
}

.playlist__text-date {
    margin: 0;
    padding: 0;
    font-style: italic;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: var(--color-grey-dark);
    margin-bottom: 8px;
}

.playlist__ul {
    display: flex;
    flex-wrap: wrap;
    padding-top: 12px;
    width: 100%;
    justify-content: space-between;
}

.playlist__ul-card {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: calc(25% - (90px / 4));
}

.playlist__ul-card-top-img {
    display: block;
    object-fit: cover;
}

.playlist__ul-card:not(:nth-child(4n)) {
    margin-right: 30px;
}

.playlist__ul-card:nth-child(9), .playlist__ul-card:nth-child(10), .playlist__ul-card:nth-child(11), .playlist__ul-card:nth-child(12) {
    margin-bottom: 0;
}

.playlist__ul-card-top {
    position: relative;
}

.playlist__ul-card-top-flag {
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 20px;
}

.flag-ru {
    background-image: url(../img/playlist_flag-ru.png);
}

.flag-uk {
    background-image: url(../img/playlist_flag-uk.png);
}

.playlist__ul-card-btm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: 15.6px;
    border: 1px solid var(--color-grey-light);
}

.playlist__ul-card-btm-title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-dark-grey);
    margin-bottom: 4px;
}

.playlist__ul-card-btm-descr {
    color: var(--color-grey-dark);
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
/* Adv */
.adv {
    padding: 94px 0;
    background-color: var(--color-dark-blue);
    padding-bottom: 132px;
}

.adv__container {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.adv__imgs {
    position: relative;
    margin-right: 25px;
    width: 640px;
    width: calc(50% - 15px);
}

.adv__img {
    max-width: 640px;    
}

.adv__img-new {
    position: absolute;
    width: 160px;
    height: 160px;
    background-image: url(../img/adv_new.png);
    background-repeat: no-repeat;
    left: -5px;
    top: -5px;
}

.adv__text {
    max-width: 445px;
    width: calc(50% - 15px);
}

.adv__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    color: var(--color-photanopia);
    margin-bottom: 25px;
}

.adv__line {
    display: block;
    width: 100%;
    margin-bottom: 12px;
    height: 12px;
    background-image: url(../img/vector.svg);
}

.adv__descr-item {
    color: var(--color-white);
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}

.adv__descr-item:nth-child(1) {
    margin-bottom: 12px;
}

.adv__descr {
    margin-bottom: 32px;
}

.adv__price {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    color: var(--color-white);
    margin-bottom: 30px;
}

.adv__btn {
    display: flex;
    align-items: center;
    padding: 23px 11.5px;
    border: 2px solid var(--color-photanopia);
    color: var(--color-photanopia);
    border-radius: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    transition: color, background-color .5s ease-in-out;
}

.adv__btn-svg-path-1 {
    fill: #F0D288;
    transition: fill .5s ease-in-out;
}

.adv__btn-svg-path-2 {
    fill: #121723;
    transition: fill .5s ease-in-out;
}

.adv__btn:hover {
    color: var(--color-dark-grey);
    background-color: var(--color-photanopia);
    padding: 25px 13.5px;
    border: none;
    transition: color, background-color .5s ease-in-out;
}

.adv__btn:hover svg .adv__btn-svg-path-1{
    fill: var(--color-dark-grey);
    transition: fill .5s ease-in-out;
}

.adv__btn:hover svg .adv__btn-svg-path-2{
    fill: var(--color-photanopia);
    transition: fill .5s ease-in-out;
}

.adv__btn:focus {
    color: var(--color-dark-grey);
    background-color: var(--color-ohra);
    padding: 24px 12.5px;
    border: 1px solid var(--color-photanopia);
    transition: color, background-color, border .5s ease-in-out;
}

.adv__btn:active {
    color: var(--color-dark-grey);
    background-color: var(--color-ohra);
    padding: 25px 13.5px;
    border: none;
    transition: color, background-color .5s ease-in-out;
}

.adv__btn:active svg .adv__btn-svg-path-1{
    fill: var(--color-dark-grey);
    transition: fill .5s ease-in-out;
}

.adv__btn:active svg .adv__btn-svg-path-2{
    fill: var(--color-ohra);
    transition: fill .5s ease-in-out;
}

.adv__btn-svg {
    margin-right: 8px;
}

/* About */
.about {
    background-color: var(--color-dark-grey);
    padding: 94px 0;
}

.about__container {
    display: flex;
    flex-direction: column;
}

.about__text {
    width: 100%;
    display: flex;
    margin-bottom: 29px;
}

.about__text-right {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.about__text-right-img {
    width: 100%;
}

.about__text-right-img:nth-child(2) {
    margin-right: 30px;
}


.about__text-right-img:nth-child(1) {
    display: none;
}

.about__text-left {
    max-width: 634px;
    margin-right: 30px;
    width: 100%;
}

.about__title {
    margin: 0;
    padding: 0;
    color: var(--color-white);
    margin-bottom: 12px;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
}

.about__descr-1 {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 8px;
}

.about__descr-2 {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
}

.about__ul {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 100%;
}

.about__ul-card {
    display: block;
    max-width: 255px;
    width: 100%;
    height: 100%;
}

.about__ul-card:not(:last-child) {
    margin-right: 30px;
}

.about__ul-card-top {
    margin-bottom: 30px;
    display: block;
    max-width: 255px;
    max-height: 255px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about__ul-card-btm-title {
    margin: 0;
    padding: 0;
    color: var(--color-white);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 8px;
}


.about__ul-card-btm-descr {
    margin: 0;
    padding: 0;
    color: var(--color-grey-dark);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.about__form-textarea {
    max-width: 920px;
    width: 100%;
    height: 150px;
    background-color: var(--color-dark-grey);
    border: 1px solid var(--color-white);
    padding: 30px 32px;
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: var(--color-grey-dark);
    margin-bottom: 24px;
    outline: none;
    transition: color, background-color .5s ease-in-out;
}

.about__form-textarea:focus {
    background-color: var(--color-dark-blue);
    color: var(--color-grey-dark);
    border-color: var(--color-purple-light);
    transition: color, background-color, border .5s ease-in-out;
}

.about__form-textarea:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-grey-dark);
    transition: color, background-color .5s ease-in-out;
}

.about__form-textarea:active {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-dark-grey);
    transition: color, background-color, border .5s ease-in-out;
}

.about__form-inputs {
    display: flex;
    margin-bottom: 30px;
}

.about__form-inputs-item {
    max-width: 445px;
    max-height: 70px;
    height: 100%;
    width: calc(50% - 15px);
    padding: 27px 32px;
    background-color: var(--color-dark-grey);
    border: 1px solid var(--color-white);
    color: var(--color-grey-dark);
    border-radius: 40px;
    outline: none;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    transition: color, background-color .5s ease-in-out;
}

.about__form-inputs-item:focus {
    background-color: var(--color-dark-blue);
    color: var(--color-grey-dark);
    border-color: var(--color-purple-light);
    transition: color, background-color, border .5s ease-in-out;
}

.about__form-inputs-item:hover {
    background-color: var(--color-dark-blue);
    color: var(--color-grey-dark);
    transition: color, background-color .5s ease-in-out;
}

.about__form-inputs-item:active {
    color: var(--color-white);
    border-color: var(--color-white);
    background-color: var(--color-dark-grey);
    transition: color, background-color, border .5s ease-in-out;
}

.about__form-inputs-item:nth-child(1) {
    margin-right: 28px;
}

.about__form-btn {
    padding: 25px 54px;
    color: var(--color-white);
    background-color: var(--color-purple);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    border-radius: 40px;
    margin-bottom: 30px;
    transition: background-color .5s ease-in-out;
}

.about__form-btn:hover {
    background-color: var(--color-purple-light);
    transition: background-color .5s ease-in-out;
}

.about__form-btn:focus {
    padding: 24px 53px;
    border: var(--color-purple-dark) 1px solid;
    background-color: #AA9DFA;
    transition: background-color .5s ease-in-out;
}

.about__form-btn:active {
    background-color: var(--color-purple-dark);
    transition: background-color .5s ease-in-out;
}

.about__form-chbox-inp {
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.about__form-chbox-text {
    color: var(--color-white);
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 8px;
}

.about__form-chbox-text::before {
    content: "";
    display: block;
    position: relative;
    left: -8px;
    top: 0;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-white);
}

.about__form-chbox-text::after {
    content: "";
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    top: 50%;
    margin-top: -7px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94976 1.08233L4.00002 6.03208L1.17159 3.20365' stroke='%23AA9DFA' stroke-width='2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
}

.about__form-chbox .about__form-chbox-inp:checked + .about__form-chbox-text::after {
    display: block;
}

/* Footer */
.footer {
    background-color: var(--color-dark-blue);
}

.footer__container{
    display: flex;
    justify-content: space-between;
    padding: 94px 0;
}

.footer__left-logo {
    margin-bottom: 16px;
}

.footer__left-icons {
    display: flex;
    max-width: 114px;
    justify-content: space-between ;
}

.footer__right-nav-ul {
    display: flex;
    flex-wrap: wrap;
    max-width: 445px;
}

.footer__right-nav-ul-li-ul-li:not(:nth-child(3n)) {
    margin-bottom: 15px;
}

.footer__right-nav-ul-li:not(:nth-child(3n)) {
    margin-right: 109px;
}


.footer__right-nav-ul-li-a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--color-white);
    margin: 0;
    padding: 0;
    transition: color .5s ease-in-out;
}

.footer__right-nav-ul-li-a:hover {
    color: var(--color-purple);
    transition: color .5s ease-in-out;
}

.footer__right-nav-ul-li-a:focus {
    background-color: var(--color-purple-light);
    outline: 1px solid var(--color-purple-light);
    outline-width: 10px;
    border-radius: 5px;
    color: var(--color-white);
    transition: color, background-color, outline .5s ease-in-out;
}

.footer__right-nav-ul-li-a:active {
    color: var(--color-purple-dark);
    outline: none;
    background-color: transparent;
    transition: color, background-color .5s ease-in-out;
}

.footer__left-icons-item a svg path {
    fill: #D2D5DD;
    transition: fill .5s ease-in-out;
}


.footer__left-icons-item:hover a svg path {
    fill: #6D31EE;
    transition: fill .5s ease-in-out;
}


.footer__left-icons-item:focus a svg path {
    fill: #AA9DFA;
    transition: fill .5s ease-in-out;
}

.footer__left-icons-item:active a svg path {
    fill: #4F28A5;
    transition: fill .5s ease-in-out;
}


/* Company */
.company {
    background-color: var(--color-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.company__title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 103.34%;
    color: var(--color-grey-dark);
    padding: 10px 0;
}

.company__line {
    background-image: url(../img/vector.svg);
    display: block;
    height: 12px;
    width: 100%;
}
